api/test/integration/env/configurations/ciscat/wazuh-agent-ciscat/ciscat/misc/xsd/scap12/cve/cve_cvss_map.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="cve_cvss_map">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="entry"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="entry">
    <xs:complexType>
      <xs:attribute name="cvss_base" use="required"/>
      <xs:attribute name="cvss_vector_string" use="required" type="xs:anyURI"/>
      <xs:attribute name="id" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
